In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
books = pd.read_csv("Books.csv")
users = pd.read_csv("Users.csv")
ratings = pd.read_csv("Ratings.csv")

c:\users\satye\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
print(books.shape)

books.head()

(271360, 8)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
print(users.shape)

users.head()

(278858, 3)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
print(ratings.shape)

ratings.head()

(1149780, 3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [6]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
print(books.duplicated().sum())
print(users.duplicated().sum())
print(ratings.duplicated().sum())

0
0
0

# Page 1

In [10]:
ratings_with_name = pd.merge(ratings, books, on="ISBN")
print(ratings_with_name.shape)
ratings_with_name.head()

(1031136, 10)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [11]:
temprary_df = ratings_with_name.groupby("Book-Title").agg({"Book-Rating" : ['count', 'mean']}).reset_index()
popular_df = temprary_df["Book-Rating"].rename(columns = {"count" : "num_ratings", "mean" : "avg_ratings"})
popular_df["Book-Title"] = temprary_df["Book-Title"]
popular_df.head()

   num_ratings  avg_ratings                                         Book-Title
0            4         2.25   A Light in the Storm: The Civil War Diary of ...
1            1         0.00                              Always Have Popsicles
2            1         0.00               Apple Magic (The Collector's series)
3            1         8.00   Ask Lily (Young Women of Faith: Lily Series, ...
4            1         0.00   Beyond IBM: Leadership Marketing and Finance ...

In [12]:
popular_df = popular_df[popular_df["num_ratings"] > 250].sort_values("avg_ratings", ascending=False)[0:50]
popular_df.head()

,num_ratings,avg_ratings,Book-Title
80434,428,5.852804,Harry Potter and the Prisoner of Azkaban (Book 3)
80422,387,5.824289,Harry Potter and the Goblet of Fire (Book 4)
80441,278,5.737410,Harry Potter and the Sorcerer's Stone (Book 1)
80426,347,5.501441,Harry Potter and the Order of the Phoenix (Boo...
80414,556,5.183453,Harry Potter and the Chamber of Secrets (Book 2)

In [13]:
popular_df = popular_df.merge(books, on="Book-Title").drop_duplicates("Book-Title")[['Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-L', 'num_ratings', 'avg_ratings']]
popular_df.head(7)

,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L,num_ratings,avg_ratings
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439136350.0...,428,5.852804
3,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439139597.0...,387,5.824289
5,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,1998,Scholastic,http://images.amazon.com/images/P/0590353403.0...,278,5.737410
9,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,347,5.501441
13,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...,556,5.183453
16,The Hobbit : The Enchanting Prelude to The Lor...,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339681.0...,281,5.007117
17,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. TOLKIEN,1986,Del Rey,http://images.amazon.com/images/P/0345339703.0...,368,4.948370

In [26]:
pickle.dump(popular_df, open("Popular_books.pkl", "wb"))
a = popular_df["Image-URL-L"].values
a[2]

'http://images.amazon.com/images/P/0590353403.01.LZZZZZZZ.jpg'

# Page 2

In [15]:
temporary = ratings_with_name.groupby("User-ID").count()["Book-Rating"] > 200
critics = temporary[temporary].index
user_filtered_rating = ratings_with_name[ratings_with_name["User-ID"].isin(critics)]
print(user_filtered_rating.shape)
user_filtered_rating.head()

(474007, 10)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [16]:
temporary = user_filtered_rating.groupby("Book-Title").count()["Book-Rating"] >= 50
popular_books = temporary[temporary].index
final_rating = user_filtered_rating[user_filtered_rating["Book-Title"].isin(popular_books)]
print(final_rating.shape)
final_rating.head()

(58586, 10)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [17]:
pt = final_rating.pivot_table(index="Book-Title", columns="User-ID", values="Book-Rating", fill_value=0)
pt.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0,0,0,0,0,0,0,0,0,...,10,0.0,0,0,0,0,0,0,0,0.0
1st to Die: A Novel,0.0,0,0,0,0,0,0,0,0,9,...,0,0.0,0,0,0,0,0,0,0,0.0
2nd Chance,0.0,10,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
4 Blondes,0.0,0,0,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0
A Bend in the Road,0.0,0,7,0,0,0,0,0,0,0,...,0,0.0,0,0,0,0,0,0,0,0.0

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score = cosine_similarity(pt)
similarity_score.shape

(706, 706)

In [19]:
def recommend(book_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_books = sorted(list(enumerate(similarity_score[index])),key = lambda x:x[1], reverse = True)[1:6]
    
    for i in similar_books:
        print(pt.index[i[0]])

In [20]:
recommend("The Notebook")

A Walk to Remember
The Rescue
One Door Away from Heaven
Toxin
The Five People You Meet in Heaven

In [21]:
book_name = final_rating.drop_duplicates("Book-Title")
pickle.dump(book_name, open('books.pkl','wb'))

In [22]:
pickle.dump(pt, open('pt.pkl','wb'))

In [23]:
pickle.dump(similarity_score, open('similarity_score.pkl','wb'))

In [24]:
year = book_name[book_name["Book-Title"] == "The Notebook"]["Year-Of-Publication"].values[0]
year

1996

In [25]:
book_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
184,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
368,277427,0425115801,0,Lightning,Dean R. Koontz,1996,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...
616,8681,0553561618,0,Dark Paradise,TAMI HOAG,1994,Bantam,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...,http://images.amazon.com/images/P/0553561618.0...
750,278418,055356451X,0,Night Sins,TAMI HOAG,1995,Bantam,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...,http://images.amazon.com/images/P/055356451X.0...
...,...,...,...,...,...,...,...,...,...,...
457242,11676,0345413865,0,Billy Straight : A Novel,JONATHAN KELLERMAN,1999,Ballantine Books,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...,http://images.amazon.com/images/P/0345413865.0...
458903,11676,0373483694,0,Macgregor Grooms (Macgregors),Nora Roberts,1998,Silhouette,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...,http://images.amazon.com/images/P/0373483694.0...
465107,11676,0399144714,9,Vector,Robin Cook,1999,Putnam Pub Group,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...,http://images.amazon.com/images/P/0399144714.0...
479476,11676,0553278029,8,A Great Deliverance,Elizabeth George,1989,Bantam Books,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...,http://images.amazon.com/images/P/0553278029.0...
489034,11676,0743418131,0,Deck the Halls (Holiday Classics),Mary Higgins Clark,2002,Pocket,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...,http://images.amazon.com/images/P/0743418131.0...